<div class="page">
  <mat-toolbar  class="page__header">
    <a routerLink="/">Receipt Roulette</a>

    <!-- This fills the remaining space of the current row -->
    <span class="spacer"></span>

    <a routerLink="/favorites" class="page__nav-link">Мое избранное</a>
    <a routerLink="/create" class="page__nav-link">Добавить новый</a>
  </mat-toolbar>

  <div class="page__inner">
    <router-outlet></router-outlet>
  </div>

  <footer class="page__footer">
    <p>&copy; Receipt Roulette, 2020</p>
  </footer>
</div>
